//==================================================
// Colors
//==================================================
$primary: #f0f0f0;
$secondary: #302f2b;
$tertiary: #d05a49;
$light-color: #302f2b;
$border-color: #302f2b;

//==================================================
// Width
//==================================================
$width: 80%;

//==================================================
// Transition
//==================================================
$transistion-ease: all 0.5s ease-in-out;

//==================================================
// Grid-gap
//==================================================
$grid-gap: 10%;

//==================================================
// Box Shadows
//==================================================
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-light: rgba(0, 0, 0, 0.26) 0px 2px 6px;
