@import "./../../Shared.scss";

.home-section-header {
  color: $tertiary;
  padding-bottom: 2%;
  font-size: clamp(1.5rem, 1.75vw, 1.75vw);
  align-self: flex-start;
}

.home-popular-container {
  @extend %main-width;
  width: 80%;
  padding-block: 2.5%;
}

.home-popular-articles-container {
  // display: grid;
  // gap: 3%;

  // width: 80%;
  // margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .home-popular-container {
    width: 90%;
    // padding-block: 25% 0%;
  }
  .home-popular-articles-container {
    gap: 0;
  }
}
