@import "./../Shared.scss";

.headerContainer {
  background-color: #da564a;
  box-shadow: $box-shadow-light;
  position: fixed;
  width: 100%;
  z-index: 100000;
  transition: all 0.5s ease-in-out;
}

.headerContentContainer {
  // // padding-block: 0.5rem;
  background-color: #da564a;
  // // background-color: $tertiary;
  // box-shadow: $box-shadow-light;
  // // border-bottom: solid 1px $border-color;
  // position: relative;
  position: relative;
  width: 100%;
  z-index: 10000;
  // transition: all 0.5s ease-in-out;
}

.hiddenHeader {
  transform: translateY(-100px);
  transition: all 0.5s ease-in-out;
}

.headerTopContentContainer {
  color: $primary;
  @extend %main-width;
  @extend %flex-between;
}

.headerBottomContentContainer {
  border-bottom: solid 1px $border-color;
  transition: $transistion-ease;
  color: $secondary;
  background-color: $primary;
}

.headerBottomContentContainerClosed {
  // margin-top: -2.75rem;
  margin-top: -4.25rem;
  transition: $transistion-ease;
  // color: $primary;
  // background-color: $primary;
}

.headerResponsiveLinksContainer {
  @extend %main-width;
  padding-block: 0.5rem;

  ul {
    padding-left: 0;
  }

  li {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  .headerFullSizeNav {
    display: none;
  }
  .headerTopContentContainer {
    width: 90%;
  }
  .headerResponsiveLinksContainer {
    width: 90%;
  }
  .hiddenHeader {
    transform: translateY(-200px);
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 1001px) {
  .headerBottomContentContainer {
    display: none !important;
  }
}

@media only screen and (min-width: 1001px) {
  .hamburgerIcon {
    display: none;
  }
}
