@import "./../Shared.scss";

.headerContentContainer {
  // padding-block: 0.5rem;
  background-color: #da564a;
  // background-color: $tertiary;
  box-shadow: $box-shadow-light;
  // border-bottom: solid 1px $border-color;
  position: relative;
  // position: fixed;
  width: 100%;
}

// .hiddenHeader {
//   translate: translateY(-100px);
// }

.headerTopContentContainer {
  color: $primary;
  @extend %main-width;
  @extend %flex-between;
}

.headerBottomContentContainer {
  border-bottom: solid 1px $border-color;
  transition: $transistion-ease;
}

.headerBottomContentContainerClosed {
  // margin-top: -2.75rem;
  margin-top: -4.25rem;
  transition: $transistion-ease;
  color: $primary;
}

.headerResponsiveLinksContainer {
  @extend %main-width;
  padding-block: 0.5rem;

  ul {
    padding-left: 0;
  }

  li {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  .headerFullSizeNav {
    display: none;
  }
  .headerTopContentContainer {
    width: 90%;
  }
  .headerResponsiveLinksContainer {
    width: 90%;
  }
}

@media only screen and (min-width: 1001px) {
  .headerBottomContentContainer {
    display: none !important;
  }
}

@media only screen and (min-width: 1001px) {
  .hamburgerIcon {
    display: none;
  }
}
