@use "../../abstracts" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: $transistion-ease;
  opacity: 0;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
  transition: $transistion-ease;
}

.modal-dialog {
  width: 80vw;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-200px);
  transition: $transistion-ease;
}

.modal.show .modal-dialog {
  transform: translateY(0);
  transition: $transistion-ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    padding-right: 0.5rem;
  }

  .modal-close-button {
    font-size: 1.75rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: $tertiary;
    border: none;
    border-radius: 5px;
    align-self: flex-start;

    &:hover {
      text-shadow: $box-shadow-light;
    }
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  width: 100%;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;

  label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .modal-form-control {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    outline: none;
  }

  .modal-form-control:focus {
    border-color: $secondary;
  }

  .modal-form-text {
    font-size: 12px;
    color: #999;
    margin-top: 0.75rem;
  }
}

.modal-form-check {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  .modal-form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    accent-color: $secondary;
  }

  .modal-form-check-label {
    font-size: 14px;
    font-weight: 600;
  }
}

.modal-form-submit-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: $secondary;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-light;
  }
}
