@import "./Shared.scss";

.main-articles-container {
  @extend %main-width;
  padding-block: 15vh 5vh;

  .main-articles-container-header {
    color: $tertiary;
    padding-bottom: 3%;
    font-size: clamp(1.5rem, 1.75vw, 1.75vw);
  }
}

.main-articles-filter-container {
  background-color: $tertiary;
  background-color: $secondary;
  border-radius: 10px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  padding: 0.25rem 2rem;
  font-size: clamp(1rem, 1.15vw, 1.25vw);
  color: $primary;
}

.filter-container-categories {
  select {
    background-color: $primary;
    border: none;
    box-shadow: $box-shadow;
    color: $secondary;
    font-size: clamp(1rem, 1.15vw, 1.25vw);
    padding: 0.25rem 1rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
    border-right: 16px solid transparent;
    cursor: pointer;

    option {
      &:hover {
      }
    }
  }
}

.articles-numberLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: clamp(1rem, 1vw, 1vw);
  color: $secondary;

  .articles-numberLine-number {
    padding: 0 0.5rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) {
  .main-articles-container {
    // padding-block: 15vh 5vh;
    width: 90%;
  }
}
