// Variables
//==================================================
$primary: #f0f0f0;
// $primary: #f3dfc1;
$secondary: #302f2b;
// $tertiary: rgba(199, 57, 43, 0.8);
// $tertiary: #da564a;
$tertiary: #d05a49;
$light-color: #302f2b;
$border-color: #302f2b;

// Width
$width: 80%;

// Transition
$transistion-ease: all 0.5s ease-in-out;

// Grid-gap
$grid-gap: 10%;

// other stuff
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-light: rgba(0, 0, 0, 0.26) 0px 2px 6px;

//================================================
// Placeholders
//================================================
%flex-align {
  display: flex;
  align-items: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-between-column {
  @extend %flex-between;
  flex-direction: column;
}

%flex-center {
  @extend %flex-between;
  justify-content: center;
}

%center {
  @extend %flex-align;
  justify-content: center;
}

%flex-column {
  @extend %flex-align;
  flex-direction: column;
}

%flex-column-justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flex-column-center {
  @extend %flex-column;
  justify-content: center;
}

%main-width {
  width: $width;
  margin: 0 auto;
}

%grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $grid-gap;
}

//================================================
// Mixin
//================================================
