@import "./../Shared.scss";

.home-container {
  color: $secondary;
  background-color: $primary;
  padding-block: 9vh 5vh;
}

@media only screen and (max-width: 1000px) {
  .home-container {
    padding-block: 13vh 5vh;
  }
}
