@import "./../../Shared.scss";

.home-latest-article {
  cursor: pointer;
  height: 30rem;
  position: relative;

  .home-latest-article-image {
    height: 80%;
    position: relative;

    img {
      object-fit: cover;
      border-radius: 3px;
    }
  }

  h2 {
    padding-top: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 1.5vw);
    line-height: 150%;
    margin: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .home-latest-article {
    padding-bottom: 1rem;

    img {
      height: 85%;
    }
  }
}
