@import "./../../Shared.scss";

.home-latest-article {
  cursor: pointer;
  height: 100%;

  img {
    width: 100%;
    object-fit: cover;
    height: 75%;
    display: flex;
    justify-content: center;
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
  }
  h2 {
    padding-top: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 1.5vw);
    line-height: 150%;
    margin: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .home-latest-article {
    padding-bottom: 1rem;

    img {
      height: 85%;
    }
  }
}
