@use "../../../abstracts" as *;

.home-latest-article {
  cursor: pointer;
  // height: 30rem;
  position: relative;

  .home-latest-article-image {
    height: 25rem;
    position: relative;

    img {
      object-fit: cover;
      border-radius: 3px;
    }

    h2 {
      // padding: 1rem;
      // font-size: clamp(1rem, 1.25vw, 1.25vw);
      // line-height: 150%;
      // margin: 0;
      // z-index: 1;
      // position: absolute;
      // bottom: 0;
      // background-color: $secondary;
      // opacity: 0.9;
      // text-align: center;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // width: 100%;
    }

    // &:hover {
    //   h2 {
    //     bottom: 70%;
    //   }
    // }
  }
}

.image-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-block: 2rem;
  background-color: $tertiary;
  opacity: 0.85;
  line-height: 150%;
  color: white;

  h2 {
    background-color: black;
    font-size: clamp(1rem, 1.25vw, 1.25vw);
    margin: 0;
    line-height: 150%;
    padding: 1rem;
    text-align: center;
  }

  p {
    font-size: clamp(1rem, 1vw, 1vw);
    line-height: 150%;
    padding: 0 1rem;
    text-align: center;
    overflow: hidden;
  }
  button {
    background-color: black;
    box-shadow: $box-shadow;
    border: none;
    border-radius: $border-radius;
    color: $primary;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 2rem;
    transition: $transistion-ease;
    margin-inline: auto;
    // margin-bottom: 1.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
      // background-color: $tertiary;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .home-latest-article {
    padding-bottom: 1rem;

    img {
      height: 85%;
    }
  }
}
